*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button:hover{
    border-color: gray;
    background-color: black;
    color: white;
}
button{
    background-color: transparent;
    transition: 0.6s;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
   
}
input{
    
    font-size: 20px;
}
.inputAndButton{
    margin: 20px ;
}
